# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
.encryptedKey.json

# dependencies
/node_modules
/artifacts
/cache
/deployments

# testing
/coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# gas reporting files
gas-report.txt

# local env files
.env*.local